version: v1

# 1. Define How Data Enters (Ingress)
entrypoints:
  # - name: "ws-users"
  #   type: "websocket"
  #   port: ":8066"
    
  - name: "sse-feed"
    type: "sse"
    port: ":8108"

# 2. Define Where Data Goes (Egress)
endpoints:
  # - name: "kafka-backend"
  #   type: "kafka"
  #   config:
  #     brokers: "redpanda:9092"
  #     topic_in: "web.ingress"
  #     topic_out: "web.egress"

  - name: "mqtt-iot"
    type: "mqtt"
    config:
      broker: "tcp://broker.hivemq.com:1883"
      topic_in: "test/pub"
      topic_out: "test/sub"

# 3. The Logic (Mediation & Flow)
# This maps sources to destinations. 
# The future Policy Engine will intercept flows defined here.
routes:
  # - source: "ws-users"
  #   destination: "mqtt-iot"
  
  # - source: "mqtt-iot"
  #   destination: "ws-users"  
  
  # - source: "ws-users"
  #   destination: "kafka-backend"
  
  # - source: "kafka-backend"
  #   destination: "ws-users"

  - source: "mqtt-iot"
    destination: "sse-feed"

  # - source: "sse-feed"
  #   destination: "mqtt-iot"